body {
    background-color: white;
    margin: 0px;
    color: #F4F7F6;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0A0E17;
    padding-bottom: 60px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    
}
.titlefont {
    color:  #808080;
    text-align: center;
    font-size: 30px;
    margin: 5px 15px;
    margin-top: 60px;
    font-family: "Climate Crisis", sans-serif;
    text-decoration: none;
        font-variation-settings:
        "YEAR" 1983;
}

.titlefont:hover {
    color: white;
    transition: 1s;
}

.kolumna {
    margin-left: 200px;
    margin-right: 200px;
}
.semibig {
    color: #0A0E17;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    text-align: justify;
}

button {
    height: 100px;
    width: 400px;
    color: white;
    background-color: #0A0E17;
    border: none;
    font-size: 30px;
    border: solid 4px #0A0E17;
}

button: hover {
    color: #0A0E17;
    background-color: white;
    transition: 0.5s;
}

.quote {
    color: #0A0E17;
    font-size: 40px;
    margin-top: 50px;
    padding: 50px;
    background: #e5e4e2 url("cudzysłów_index1.svg") no-repeat;
    background-position: bottom right;
}

p a {
    color: #808080;
    font-style: italic;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #0A0E17;
    font-size: 25px;
    color: white;
    display:flex;
    justify-content: center safe
}

footer * {
    margin-left:50px;
    margin-right:50px;
}
footer p {
    margin: 0px;
}

footer button {
    font-family: "Climate Crisis", sans-serif;
}
